<!DOCTYPE HTML>
<html>
<head>
    <title>Cargo sorting project start page</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<div>Hello, user</div>
<a href="/upload">Go to upload!!!</a>
</body>
</html>